
.table-header-1 {
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  width: 300px;
}

.table-header-2 {
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  width: 300px;
}

.table-header-3 {
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  width: 150px;
}

.table-header-4 {
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  width: 50px;
}

.user-row {
  color: blueviolet;
  cursor: pointer;}

.mat-row:hover {
  background-color: lightsteelblue;
}

