.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  height: auto;
}

.selected-image-container {
  margin-top: 1rem;
  width: auto;
  height: auto;
}

.carrusel-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  width: 33%;
}

.gallery-buttons-container {
  margin-top: 2rem;
  width: 33%;
  height: 5rem;
  border: 1px solid lightgrey;
  border-radius: 25px;
  box-shadow: 7px 14px 20px lightgrey;
}

.images-carrousel-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }

 .image {
  padding: 0;
  margin: 0;
  height: auto;
  cursor: pointer;
  box-shadow: 13px 10px 12px lightgrey;
  }

.page-button {
  border: none;
  outline: none;
}
