<div class="rotate-image-container">
  <div appRotateImage class="image-header-container">
    <div class="rotate-item">
      <p>appRotateImage</p>
    </div>
    <div class="rotate-item">
      <p>appRotateImage="45"</p>
    </div>
    <div class="rotate-item">
      <p>appRotateImage="45" step="15"</p>
    </div>
  </div>
  <div appRotateImage class="image-container">
    <div class="rotate-item">
      <img appRotatImage src="../../assets/imageRotate.jpg" />
    </div>
    <div class="rotate-item">
      <img appRotatImage="45" src="../../assets/imageRotate.jpg" />
    </div>
    <div class="rotate-item">
      <img appRotatImage="45" step="15" src="../../assets/imageRotate.jpg" />
    </div>
  </div>
</div>
