<div>
  <mat-toolbar color="primary">
    <div class="menu-line-container">
      <div class="menu-display">
        <div routerLink="/home" routerLinkActive="selected" class="menu-item" onfocus="this.blur()"><span>Home</span>
        </div>
        <div routerLink="/login" routerLinkActive="selected" class="menu-item" onfocus="this.blur()"><span>Login</span>
        </div>
        <div routerLink="/about" routerLinkActive="selected" class="menu-item" onfocus="this.blur()"><span>About</span>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
